@media only screen and (min-width: 320px){
    body {
       
    }

    header {
        display: flex;
        justify-content: center;
        text-align: center;
     }

    h1 {
        color: purple;
        font-size: 20px;
        font-weight: bold;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    h3 {
        color: #2B2D42;
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline dotted;
    }

    ul {
        list-style-type: none;
        text-align: center;
     }
    
     a:link {
        color: green ;
     }
    
     a:visited {
        color: blue;
     }
    
     a:hover {
        color: white;
     }

     textarea {
        height: 10em;
        width: 20em;
    }

    #lolban{
    content: url('./lolbanMobile.jpeg');
    }
    
}

@media only screen and (min-width:768px){
    body {
        background-image: linear-gradient( to bottom left , green,
        purple);
    }

    header {
        display: flex;
        justify-content: center;
        text-align: center;
     }

    h1 {
        color: green;
        font-size: 20px;
        font-weight: bold;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    h3 {
        color: #2B2D42;
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline dotted;
    }

    ul {
        list-style-type: none;
        text-align: center;
     }
    
     a:link {
        color: green ;
     }
    
     a:visited {
        color: blue;
     }
    
     a:hover {
        color: white;
     }

     textarea {
        height: 10em;
        width: 40em;
    }
        @media only screen and (min-width:1024px){
            body {
            background-image: linear-gradient( to bottom left , orange,
            yellow);
        }
    
            header {
            display: flex;
            justify-content: center;
            text-align: center;
         }
    
            h1 {
            color: green;
            font-size: 20px;
            font-weight: bold;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    
            h3 {
            color: #2B2D42;
            font-size: 12px;
            font-weight: bold;
            text-decoration: underline dotted;
        }
    
            ul {
            list-style-type: none;
            text-align: center;
         }
        
         a:link {
            color: green ;
         }
        
         a:visited {
            color: blue;
         }
        
         a:hover {
            color: white;
         }
    
         textarea {
            height: 10em;
            width: 70em;
        }
    }
}